# Python gitignores
__pycache__/
*.py[cod]

# Ignore Sublime Text projects/workspaces and anything in /test
*.sublime*
test/**/*

# Win/Mac crap
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Other stuff
.htaccess
.*.swp

# For security, let's not push our databases
*.db

