{% extends "layout.html" %}
{% block body %}
	<p>Endgame Admin</p>
	<form action={{ url_for('_admin') }} method="POST">
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Admin</th>
				<th>Approved</th>
				<th>Username</th>
				<th>Password</th>
			</tr>
			{% for user in users %}
			<tr>
				<td>{{ user.id }}</td>
				<td>{{ user.name }}</td>
				<td>{{ user.admin }}</td>
				<td>
					<input type=radio name="approved_{{ user.id }}" value="y"{% if user.approved %} checked{% endif %}>
					<input type=radio name="approved_{{ user.id }}" value="n"{% if not user.approved %} checked{% endif %}>
				</td>
				<td>{{ user.username }}</td>
				<td>{{ user.password }}</td>
			</tr>
			{% endfor %}
		</table>
		<input type=submit>
	</form>
{% endblock %}

