{% extends "layout.html" %}

{% block body %}
<script src="{{url_for('static',filename='jquery-2.1.1.min.js')}}"></script>
<script>
	$(document).ready(function()
	{
		var socket = io.connect('http://' + document.domain + ':' + location.port + '/scout/lobby');
		socket.on('connect', function()
		{
			socket.emit('my event', {data:'I\'m connected!'});
		}
		);				

	})
</script>
<form>
	<p id="message">You are not in yet</p>
	<button>Join</button>
	<button>Quit</button>

</form>
<ol id="activeusers">
</ol>	
<div id="log"></div>

{% endblock %}
