{% extends "layout.html" %}
{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script type=text/javascript>
	$(document).ready(function() {
		namespace = '/lobby';

		var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
		socket.on('connect', function() {
			socket.emit('my event', {data: 'User {{ session.username }} connected'});
		});
		socket.on('response', function(msg) {
			$('#msgs').append('<p>Msg' + msg.count + ': ' + msg.data);
		});
		console.log('Socket loaded.');
	});
</script>

<div id=msgs></div>

{% endblock body %}

