{% extends layout.html %}
{%block body %}
	<div id="page">
			<img id="logo" src="img/logo.svg">
			<h1 style="font-size:40px;">Hello there.</h1>
			<p style="font-size:20px;">This is a new website for an upcoming project, Communist Dodo, a web application for scouting data at FIRST Robotics competitions. Stay tuned.</p>
			<br/>
			<br/>
			<span style="float:right;">Alex Chew and David Song</span>

            <div id="twobuttonrow">
                <a href="">
                    <div class="button_medium" id="scouter_button">Scouter</div>
                </a>
                <a href="">
                    <div class="button_medium" id="nest_button">Nest</div>
                </a>
            </div>
		</div>
{% endblock body %}
